.container-logo {
    margin: 5rem 0 3rem 0;
    text-align: center;
}

.words {
    width: 50%;
    margin: 0.5rem auto;

    .boxes {
        display: flex;
        justify-content: center;

        .boxe {
            width: 60px;
            height: 60px;
            border: solid 1px $color12;
            border-radius: 8px;
            margin: 0.2rem;
            display: flex;

            @include letter {
                font-size: 2rem;
            };

            &.letter--validate {
                background-color: #aed9c9;
            }

            &.letter--bad-place {
                background-color: #fff6d4;
            }
        }
    }
}

.keyboard {
    flex-wrap: wrap;
    width: 50%;
    margin: 2rem auto;
    padding: 0.5rem auto;

    &>div {
        display: flex;
        justify-content: center;
        width: 100%;

        .boxe {
            @include boxe {
                display: flex;
                width: 30px;
                height: 30px;
                font-family: "Verdana";
                padding: 0.2rem;
            }

          @include letter;

          .icon {
              margin: auto 0.1rem;
              width: 90%;
          }
        }
    }
}

